@import "constantes";

label { color: $grafo; }

svg {
  #arrowhead {
    fill: $grafo;
  }

  .node {
    rect {
      fill: transparent;
    }
  }

  .edge {
    path {
      fill: none;
      stroke: $grafo;
      stroke-width: 1.5px;
    }
  }
}
