@import "bootstrap";
@import "constantes";

label { color: $grafo; }

svg {
  width: 100%;
  height: 50%;

  #arrowhead {
    fill: $grafo;
  }

  .node {
    rect {
      fill: transparent;
    }
  }

  .edge {
    path {
      fill: none;
      stroke: $grafo;
      stroke-width: 1.5px;

      .abastecimiento {
        stroke: red;
      }

      .produccion {
        stroke: green;
      }
    }
  }
}
